<?xml version="1.0" encoding="utf-8"?>
<configuration>

<!--  <system.diagnostics>
    <sources>
      <source name="System.Net.Sockets" tracemode="protocolonly">
        <listeners>
          <add name="System.Net.Sockets" type="System.Diagnostics.TextWriterTraceListener" initializeData="network.log" />
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>

    <trace autoflush="true" />
  </system.diagnostics>-->
  
<!--	Error:
	 		The server committed a protocol violation. Section=ResponseHeader Detail=CR must be followed by LF
	  	Workaround:
	  		http://stackoverflow.com/questions/3142403/c-handling-webclient-protocol-violation
-->
  <system.net>
	<settings>
		<httpWebRequest useUnsafeHeaderParsing = "true"/>
	</settings>
</system.net>

</configuration>
